#michelin_table_1 {
  width: 100%;
  height: 300px;
}

#pie_price {
  width: 100%;
  height: 300px;
}

#stackedbar_region {
  width: 100%;
  height: 300px;
}

#column_cuisine {
  width: 100%;
  height: 300px;
}
